/target
/classes
/checkouts
*.jar
*.class
/.calva/output-window/
/.cpcache
/.lein-*
/.lsp/sqlite*.db
/.nrepl-history
/.nrepl-port
/.rebel_readline_history
/.socket-repl-port
.hgignore
.hg/
xcuserdata
*.mode1v3
*.mode2v3
*~.nib

build/

*.pbxuser
*.perspective
*.perspectivev3
.DS_Store

/generated_classes
/library