{:paths ["src" "classes" "generated_classes" "library/classes"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}


        com.phronemophobic/membrane {;;:mvn/version "0.9.26-beta"
                                     :sha "fd04d7d9345c580cb4d60a18539d51de63182e66"
                                     :git/url "https://github.com/phronmophobic/membrane"
                                     ;; :local/root "../membrane"
                                     }

        borkdude/sci {:mvn/version "0.2.5"}

        babashka/babashka {:mvn/version "0.4.4"
                           ;;:local/root "../babashka"
                           }
        cnuernber/dtype-next           {:mvn/version "8.09"
                                        ;;:local/root "../dtype-next"
                                        }
        net.java.dev.jna/jna           {:mvn/version "5.8.0"}}
 

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}

  :depstar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
   :ns-default hf.depstar
   :aliases [:graal-compile]
   :exec-fn hf.depstar/uberjar
   :exec-args {:group-id "com.phronemophobic"
               :artifact-id "mobiletest"
               :version "1.00-beta-1"
               :sync-pom true
               :aot true
               :compile-ns [;;avclj.main avclj.libavclj
                            com.phronemophobic.mobiletest
                            ]
               :main-class com.phronemophobic.mobiletest
               :jar "target/mobiletest-uber.jar"
               ;;Disable tensor code generation and ensure direct linking.
               :jvm-opts ["-Dtech.v3.datatype.graal-native=true"
                          "-Dclojure.compiler.direct-linking=true"
                          "-Dclojure.spec.skip-macros=true"]}}

  :depstar-membrane
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
   :ns-default hf.depstar
   :aliases [:graal-compile]
   :exec-fn hf.depstar/uberjar
   :exec-args {:group-id "com.phronemophobic.mobiletest"
               :artifact-id "membrane"
               :version "1.00-beta-1"
               :sync-pom true
               :aot true
               :compile-ns [;;avclj.main avclj.libavclj
                            com.phronemophobic.mobiletest.membrane
                            ]
               :main-class com.phronemophobic.mobiletest.membrane
               :jar "target/mobiletest-uber.jar"
               ;;Disable tensor code generation and ensure direct linking.
               :jvm-opts ["-Dtech.v3.datatype.graal-native=true"
                          "-Dclojure.compiler.direct-linking=true"
                          "-Dclojure.spec.skip-macros=true"]}}
  
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar "mobiletest.jar" :sync-pom true}}
  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local :artifact "mobiletest.jar"}}
  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote :artifact "mobiletest.jar"}}}}
